.board {
    width: 60vw;
    height:auto;
    margin-top: 0px;
    display: flex;
    /* align-items: center; */
    /* text-align: center; */
    justify-content: center;
    /* background-color: aquamarine; */
}

.board article{
    width: 500px;
    height: 750px;
    /* background-color: #FAB7A2; */
    margin-inline: 15px;
}

.content {
    width: 500px;
    height: 680px;
    margin-block: 40px;
    /* box-shadow: 3px 3px 3px -2px #8d8d8d; */
    /* background-color: aqua; */
    border: 1px solid#8D8D8D;
    border-radius: 5px;
}

.image {
    width: auto;
    height: 250px;
    background-color: #8d8d8d;
    margin-inline: 15px;
    border-radius: 5px;
    margin-top: 15px;
}

.content article {
    width: auto;
    float: right;
    height: 30px;
    margin-right: 15px;
    font-size: 12px;
    font-weight: bold;
}

.contentContainer {
    width: auto;
    height: 400px;
    margin: 20px;
    /* background-color: aliceblue; */
}

.contentContainer div{
    height: 30px;
    width: auto;
    border-bottom: 1px solid #8d8d8d;
    font-size: 16px;
    font-weight: bold;
}

.contentContainer div:nth-child(1){
    width: 450px;
}
.contentContainer div:nth-child(2){
    width: 165px;
    float: right;
}

.contentContainer div:nth-child(3){
    width: 75px;
    float: right;
}

.context {
    width: auto;
    height: 290px;
    /* background-color: blanchedalmond; */
    margin-block: 10px;
    font-weight: bold;
}

.context section {
    width: auto;
    height: 230px;
    margin-block: 15px;
    border: 2px solid #8D8D8D;
    border-radius: 5px;
    font-size: 13   px;
}

.contentContainer button{
    width: 100px;
    height: 35px;
    background-color: #FAB7A2;
    border: none;
    border-radius: 5px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-inline: 40%;
}

.imageBtn {
    display: flex;
    font-size: 50px;
    color: gray;
    border: none;
    background-color: white;
    /* background-color: white; */
    justify-content: space-between;
    margin-top: 160px;
}