.applicantsList {
    width: 400px;
    height: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 0px 30px 30px;

    font-size: 0.7rem;

    margin: auto;
}

.applicants {
    width: 100%;
    height: 85%;
}

.applicantBox {
    width: 100%;
    height: 15%;

    margin: 10px;

    justify-content: space-around;

    border-radius: 5px;
}

.applicantInfo {
    width: 20%;
    height: 100%;
    color: white;
    font-weight: bold;

    justify-content: space-around;
}

.applicantInfo>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
}

.evaluation,
.navbtn {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.evaluation {
    width: 50%;
}


.point {
    width: 100%;
    height: 35%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: bold;

    font-size: 0.7rem;

    background-color: white;
    border-radius: 5px;
}

.point>* {
    padding: 0px 10px;
}

.point>div {
    font-size: 1rem;
}

.navbtn {
    width: 15%;
    align-items: center;
}

.navbtn>* {
    width: 100%;
    height: 35%;

    font-weight: bold;
    background-color: white;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px 5px;
}