.dashboard {
    min-width: 100px;
    height: 100%;
    padding: 2vh;

    display: flex;
    justify-content: space-between;

    font-size: 1.2rem;

    margin-top: 20px;
}

.dashboard>* {
    width: 75%;
}


.visitantBoard {
    width: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.userCount {
    width: 7.5em;
    height: 7.5em;

    border-radius: 50%;

    font-size: 35px;

    color: white;
    text-shadow: -1px 0px black, 1px 0px black, 0px -1px black, 0px 1px black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.allUser {
    background-color: #33F7D4;
}

.curruntUser {
    background-color: #33F73B;
}

.issue {
    min-height: 2.5rem;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 10px;
    margin-bottom: 20px;
}

.circle {
    width: 2.25rem;
    height: 1.5rem;

    background-color: red;
    color: white;
    border-radius: 50%;

    text-align: center;

    margin-left: 10px;
}

.statusBoard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    font-size: 1rem;
}

.tableSection {
    min-width: 400px;
    width: 45%;

    border: 1px solid black;
    padding: 20px;
    padding-bottom: 50px;
    margin-bottom: 10px;
}

.boardTable {
    width: 100%;
    border-collapse: collapse;
}

.boardTable>*>tr>* {
    border-bottom: 1px solid black;
    text-align: center;
}

@media(max-width:1750px) {
    .dashboard {
        height: 100%;
        padding: 2vh;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        font-size: 1.2rem;

        margin-top: 20px;
    }

    .dashboard>* {
        width: 100%;
        min-width: 100px;
    }

    .visitantBoard {
        width: 100%;
        flex-direction: row;
        margin-bottom: 2vh;
    }

    .tableSection {
        width: 45%;
    }
}

@media(max-width:1500px) {
    .tableSection {
        width: 100%;
    }
}

@media(max-width:1000px) {

    .visitantBoard {
        width: 680px;
        margin-bottom: 10px;
    }

    .issue {
        width: 670px;
    }

    .statusBoard {       
        width: 670px;
    }

    .tableSection {
        width: 650px;
    }
}