.postMessageList {
    width: 500px;
    height: 450px;

    padding: 30px;
}

.msgMenu {
    width: 40%;
}

.postMessageList>*,
.msgMenu>* {
    margin: 0;
}

.postMessageList>div>div>* {
    width: 62px;
    height: 25px;

    background-color: white;
    border: 1px solid #9D9D9D;

}

.postMessageList>div>div>button {
    margin: 10px;
}

.postMessageList>div>div>button:first-child {
    margin: 0;
    margin-right: 10px;
}

.postMessageList>table {
    width: 100%;
    /* height: 100%; */
    text-align: left;
    border-collapse: collapse;
}

.postMessageList>table>thead>tr>th {
    background-color: #D8D8D8;
    border-right: 1px solid white;
}

.postMessageList>table>thead>tr :last-child {
    border-right: none;
}

.postMessageList>table>tbody>tr>td {
    height: 20%;
    border-bottom: 1px solid black;
}

.postMessage {
    width: 450px;
    height: 450px;

    border-radius: 5px;
    padding: 30px;

    /* margin: auto; */
}

.recipientInfo {
    height: 25%;
}

.recipientInfo>div {
    background-color: white;
    border-radius: 3px;
    height: 100%;
}

.userInfo {
    width: 25%;
    justify-content: space-around;
}

.userInfo>img {
    width: 70%;
    height: 70%;

    border-radius: 50%;

    margin-top: 5%;
}

.recordInfo {
    width: 70%;
    height: 100%;

    justify-content: space-around;

    font-weight: bold;
}

.recordInfo>div {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

.recordInfo>div>div {
    width: 85%;
}

.message {
    width: 100%;
    height: 70%;

    /* padding: 0; */

    border-radius: 10px;
    border: none;
    resize: none;
}

.messageBtn {
    width: 25% !important;
}

.messageBtn>button {
    width: 85%;
    height: 35%;

    border-radius: 3px;
    border: none;
}