.dateAndWriter {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.imageBtn {
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 60px;
    color: gray;
    border: none;
    background-color: white;
    justify-content: space-between;

}

.images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 5%;
}

.text {
    display: flex;
    justify-content: right;

}

.comment {

    display: flex;
    position: relative;
    left: 8%;
    align-items: center;
}

.comment-content {
    justify-content: space-around;
    position: relative;
    right: 3%;
}

.comment-content2 {
    justify-content: space-around;
    position: relative;
    left: 3%;
}

.comment-content3 {
    justify-content: space-around;
    position: relative;
    left: 30%;
}

.comment-content4 {
    justify-content: space-around;
    position: relative;
    left: 40%;
}

.choice-box {
    background-color: white;
    color: black;
    width: 12%;
    height: "10px";
    margin: 3%;
    user-select: none;
    font-weight: bold;
    font-size: large;
}

.choice-box.selected {
    background-color: #FAB7A2;
    color: black;
}

.choice-box.selected:active {
    background-color: #FAB7A2;
    color: black;
}


.choice-box2 {
    background-color: white;
    color: black;
    width: 25%;
    height: 40px;
    margin: 2%;
    user-select: none;
    font-weight: bold;
    font-size: large;
}

.choice-box2.selected {
    background-color: #FAB7A2;
    color: black;
}

.choice-box2.selected:active {
    background-color: #FAB7A2;
    color: black;
}

.choice-box3 {
    background-color: white;
    color: black;
    width: 30%;
    height: 40px;
    margin: 2%;
    user-select: none;
    font-weight: bold;
    font-size: large;
}

.choice-box3.selected {
    background-color: #FAB7A2;
    color: black;
}

.choice-box3.selected:active {
    background-color: #FAB7A2;
    color: black;
}

.doginfo {
    width: 50%;
    float: left;
    box-sizing: border-box;
    height: 550px;
    position: relative;
    bottom: 60px;
    right: 10px;
}

.doginfo3 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    height: 550px;
    position: relative;
    right: 10px;
}

.dogplz {
    width: 50%;
    float: right;
    box-sizing: border-box;
    height: 550px;
    position: relative;
    left: 60px;
}

.momplz {
    width: 50%;
    float: right;
    box-sizing: border-box;
    height: 550px;
    position: relative;

}

.dogplz textarea {
    width: 510px;
    height: 390px;
    resize: none;
}

.momplz-textarea1 {
    width: 370px;
    height: 100px;
    position: relative;
    right: 30px;
    resize: none;
}

.momplz-textarea2 {
    width: 510px;
    height: 200px;
    resize: none;
}

.doginfo-button {
    background-color: #FAB7A2;
    color: black;
    border: none;
    width: 65px;
    height: 40px;
    font-weight: bold;
    font-size: large;
    border-radius: 3%;
}

.doginfo textarea {
    width: 470px;
    height: 140px;
    margin-left: 2%;
    border-radius: 3%;
    position: relative;
    left: 10px;
    resize: none;
}

.doginfo3 textarea {
    width: 470px;
    height: 140px;
    margin-left: 2%;
    border-radius: 3%;
    position: relative;
    left: 10px;
    resize: none;
}

.doginfo2 {
    display: flex;
    align-items: flex-start;

}

.doginfo2 button {
    background-color: #FAB7A2;
    color: black;
    border: none;
    width: 65px;
    height: 70px;
    font-weight: bold;
    font-size: large;
}


.size {
    display: flex;
    justify-content: flex-start;
    margin-top: 3%;
    width: 50%;
}

.size-size {
    margin-left: 50px;
    position: relative;
    left: 100px;
    background-color: #FAB7A2;
    color: black;
    border: none;
    width: 65px;
    height: 40px;
    font-weight: bold;
    font-size: large;
    border-radius: 3%;
}

.size h3 {
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    margin-top: 3%;

}

.size-position {
    position: relative;
    left: 100px;
}

.wantbtn {
    background-color: #FAB7A2;
    color: white;
    border: none;
    width: 140px;
    height: 64px;
    font-weight: bold;
    font-size: large;
    border-radius: 3%;
    position: relative;
    top: 60px;
    left: 500px;
}

.wantbtn2 {
    background-color: #FAB7A2;
    color: white;
    border: none;
    width: 140px;
    height: 64px;
    font-weight: bold;
    font-size: large;
    border-radius: 3%;
    position: relative;
    top: 20px;
    left: 500px;
    cursor: pointer;
}

.formsize {
    height: 750px;
}

.endline {
    position: relative;
    bottom: 100px;
}

.endline2 {
    position: relative;
    bottom: 50px;

}

.comment-mommoney {
    justify-content: space-around;
    position: relative;
    left: 6%;
}

.comment-mommoney2 {
    justify-content: space-around;
    position: relative;
    left: 10%;
}

.comment-mommoney3 {
    justify-content: space-around;
    position: relative;
    left: 23%;
}

.comment-button1 {
    justify-content: space-around;
    position: relative;
    left: 16%;
    width: 7%;
    color: black;
    border: none;
    font-weight: bold;
    font-size: large;

}

.comment-button2 {
    justify-content: space-around;
    position: relative;
    left: 30%;
    width: 7%;
    color: black;
    border: none;
    font-weight: bold;
    font-size: large;
}

.calendar {
    position: relative;
    top: 15px;
}

.declarationButton {
    width: 90px;
    height: 35px;
    color: #2d2d2d;
    font-size: medium;
    display: inline-block;
    background-color: #d8d8d8;
    margin-top: 3%;
    border: none;
    color: black;

    font-weight: bold;
    font-size: large;
}

.imgsize {
    margin-top: 50px;
    width: 550px;
    height: 300px;
}

.imagegogo {
    margin-top: 15%;
}

.plusbtn {
    width: 80px;
    height: 30px;
    position: relative;
    top: 50px;
    left: 10px;
    font-size: 30px;
    color: white;
    background-color: #D2D2D2;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.reviewmodal-image1 {

    width: 400px;
    height: 300px;
    position: relative;
    top: 50px;
    left: 10px;
    font-size: 30px;
    color: white;
    background-color: #D2D2D2;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewmodal-imgbtn {
    width: 80px;
    height: 30px;
    position: relative;
    top: 50px;
    left: 10px;
    font-size: 30px;
    color: white;
    background-color: #D2D2D2;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}